body {
  background-color:cornflowerblue;
}
/* Nav Bar */
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; }
#nav li {
  float: right; }

  #nav li:hover{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
  }
  #nav {
    width: 100%;
    float: right;
    margin: 0 0 3em 0; 
    padding: 0;
    list-style: none;
    background-color: #2804f0;
    border-bottom: 1px solid black; 
    border-top: 1px solid black; }

#nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        border-right: 1px solid black }

/* footer */

.footlist{
  display:flexbox;
  justify-content:center;
}


.footlist li {
  text-decoration: none;
  list-style: none;
  display: inline;
  float: center;
  border: black solid 1mm;
  padding: 4mm;
  margin: 2mm;
}
        
/* contact */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headish {
  background-color: #004060; 
  color: #ffffff; 
  padding: 4px;
  border-bottom: black solid 1mm;
}
/* portfolio */
.pimage {
width: 500px;
max-height: 250px;
border-radius: 8px;
}

.pimage:hover {
  box-shadow: 0 0 4px 4px rgba(38, 0, 255, 0.5);
}


.container1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

